.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dashboard-welcome {
    flex: 1;
    padding: 20px;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.welcome-heading {
    color: #005b96;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.welcome-subtext {
    text-align: center;
    font-size: 1.25rem;
    color: #333;
}