li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-menu a:hover {
    color: #005b96;
}

.nav-logo {
    width: auto; 
    height: 100px;
    width: 100px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 100%);
}

.nav-menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 1.5rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}

.register-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: #005b96;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.register-btn:hover {
    box-shadow: 0px 15px 20px #6497b1;
    color: #fff;
    transform: translateY(-7px);
}

.login-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: #fff;
    border: none;
    border-radius: 45px;
    border-radius: #005b96;
    color: #005b96;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.login-btn:hover {
    box-shadow: 0px 15px 20px hsl(233, 12%, 20%);
    color: #011f4b;
    transform: translateY(-7px);
}

.login-mobile-link {
    display: none;
}

.register-mobile-link {
    display: none;
}

.dashboard-mobile-link {
    display: none;
}

@media (max-width: 1024px) {
    .nav-logo {
        width: auto;
        height: 25px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 100%;
        left: 0;
        align-items: center;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin-top: 50px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu a {
        text-decoration: none;
        color: hsl(233, 26%, 24%);
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .hamburger.active .bar {
        background-color: #005b96;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(9px, 9px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -9px);
    }

    @keyframes dropdown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: hsl(233, 26%, 24%);
    }
    
    .register-btn {
      display: none;
    }

    .login-btn {
        display: none;
    }

    .nav-link {
        display: none;
    }

    .login-mobile-link {
        display: block;
    }
    
    .register-mobile-link {
        display: block;
    }
    
    .dashboard-mobile-link {
        display: block;
    }
}