.account-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 20px;
}

.account-settings-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
}

.delete-account-btn {
    display: block;
    flex-grow: 0;
    width: 100%;
    padding: 12px;
    background-color: #dc3545;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.delete-account-btn:hover {
    background-color: #c82333;
}