.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-image-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.content-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.content-header {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #011f4b;
}

.content-body {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #005b96;
}

.get-started-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #011f4b;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 150px;
}

.get-started-btn:hover {
    box-shadow: 0px 15px 20px #005b96;
    color: #fff;
    transform: translateY(-7px);
}

.get-started-btn:active {
    transform: translateY(-1px);
}

.content-section-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}

.content-section-header {
    color: #011f4b;
    margin-bottom: 20px;
}

.content-section-description {
    color: #005b96;
    margin-bottom: 15px;
}

.section-content-list {
    display: flex;
}

.section-content-item {
    margin: 10px;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.content-item-icon {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
}

.content-item-header {
    color: #03396c;
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.content-item-body {
    color:#005b96;
    font-size: 1rem;
}

.how-it-works {
    padding: 2rem;
}

.step-header {
    font-size: 2rem;
    color: #011f4b;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.step {
    flex: 1;
    max-width: 250px;
    padding: 1rem;
    text-align: center;
    background-color: #fff;
    margin: 0 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.step:hover {
    transform: translateY(-5px);
}

.step-title {
    font-size: 1.5rem;
    color: #03396c;
    margin-bottom: 1rem;
}

.step-description {
    font-size: 1rem;
    color: #005b96;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    width: 30px;
    height: 30px;
    margin: 0 1rem;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        max-width: 100%;
        width: 100%;
        text-align: center;
        flex-wrap: nowrap;
        margin-bottom: 5px;
    }

    .get-started-btn {
        margin: auto;
    }
    
    .section-content-list {
        flex-direction: column;
    }

    .section-content-item {
        display: grid;
        justify-items: center;
    }

    .arrow-icon {
        display: none;
    }
}

@media (max-width: 768px) {    
    .section-content-item {
        display: content;
    }

    .steps {
        flex-direction: column;
        align-items: stretch;
    }

    .step {
        margin-bottom: 10px;
    }
}